In [9]:
import findspark
findspark.init()
# Spark:
from pyspark     import SparkConf
from pyspark     import SparkContext
from pyspark.sql import SparkSession
from pyspark.ml import PipelineModel
# Python :
from datetime import datetime
import math
from pyspark.streaming import StreamingContext

listen_to_ip   = "54.37.12.49"
listen_to_port = 12012

current_date   = datetime.now().strftime("%Y-%m-%d %H:%M")
user           = "romain - exemple saprk streaming"
appName        = "%s le %s"%(user, current_date)
ip_fares       = "54.37.12.49"
master         = "spark://54.37.12.49:7077"
executor_cores = 2 
nb_cores_max   = 10
parallelism    = 4 * executor_cores
memory_by_node = "200M"
nb_executor    = nb_cores_max//executor_cores
dico_conf      = { "spark.app.name"             : appName        ,
                   "spark.master"               : master         ,
                   "spark.cores.max"            : nb_cores_max   , 
                   "spark.executor.cores"       : executor_cores ,
                   "spark.default.parallelism"  : parallelism    , 
                  #"spark.python.worker.memory" : memory_by_node ,
                   "spark.python.executor.memory" : memory_by_node }

conf = SparkConf()
for k,v in dico_conf.items():
    conf = conf.set(k,v)
sc = SparkContext.getOrCreate(conf=conf)

nb_secondes = 1
ssc         = StreamingContext(sc, nb_secondes)
dstream     = ssc.socketTextStream(listen_to_ip, listen_to_port)

In [10]:
ssc.checkpoint("hdfs://54.37.12.49:8020/spark_streaming_checkpoint/")

In [11]:
def update_achats(nouvelles_valeurs, valeur_actuelle ):
    if valeur_actuelle is None:
        valeur_actuelle = 0
    return sum(nouvelles_valeurs, valeur_actuelle)

In [12]:
data            = dstream.map(lambda x: x.split(","))
clients_facture = data.map(lambda x: (x[0], float(x[1])*float(x[2])))
update_client   = clients_facture.updateStateByKey(update_achats)
update_client.pprint()

# 9) activer l'Ã©coute sur la socket

In [13]:
ssc.start()

-------------------------------------------
Time: 2018-02-26 14:32:05
-------------------------------------------

-------------------------------------------
Time: 2018-02-26 14:32:06
-------------------------------------------
('client_b', 160.0)
('client_a', 13.0)
('client_d', 480.0)

-------------------------------------------
Time: 2018-02-26 14:32:07
-------------------------------------------
('client_b', 516.0)
('client_a', 683.0)
('client_d', 814.0)

-------------------------------------------
Time: 2018-02-26 14:32:08
-------------------------------------------
('client_c', 119.0)
('client_b', 560.0)
('client_a', 819.0)
('client_d', 1091.0)

-------------------------------------------
Time: 2018-02-26 14:32:09
-------------------------------------------
('client_c', 323.0)
('client_b', 738.0)
('client_a', 1719.0)
('client_d', 1226.0)

-------------------------------------------
Time: 2018-02-26 14:32:10
-------------------------------------------
('client_c', 620.0)
('client_b', 1095.0)
('client_a', 1910.0)
('client_d', 1296.0)

-------------------------------------------
Time: 2018-02-26 14:32:11
-------------------------------------------
('client_c', 620.0)
('client_b', 1415.0)
('client_a', 2775.0)
('client_d', 1468.0)

-------------------------------------------
Time: 2018-02-26 14:32:12
-------------------------------------------
('client_c', 620.0)
('client_b', 1825.0)
('client_a', 3393.0)
('client_d', 1528.0)

-------------------------------------------
Time: 2018-02-26 14:32:13
-------------------------------------------
('client_c', 750.0)
('client_b', 2168.0)
('client_a', 3820.0)
('client_d', 1850.0)

-------------------------------------------
Time: 2018-02-26 14:32:14
-------------------------------------------
('client_c', 984.0)
('client_b', 2318.0)
('client_a', 3928.0)
('client_d', 2558.0)

-------------------------------------------
Time: 2018-02-26 14:32:15
-------------------------------------------
('client_c', 1235.0)
('client_b', 2580.0)
('client_a', 4201.0)
('client_d', 2592.0)

-------------------------------------------
Time: 2018-02-26 14:32:16
-------------------------------------------
('client_c', 1447.0)
('client_b', 2580.0)
('client_a', 4432.0)
('client_d', 2889.0)

-------------------------------------------
Time: 2018-02-26 14:32:17
-------------------------------------------
('client_c', 1624.0)
('client_b', 3003.0)
('client_a', 4450.0)
('client_d', 3184.0)

-------------------------------------------
Time: 2018-02-26 14:32:18
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:19
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:20
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:21
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:22
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:23
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:24
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:25
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:26
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:27
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:28
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:29
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:30
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:31
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:32
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:33
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:34
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:35
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:36
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:37
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:38
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:39
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:40
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:41
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:42
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:43
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:44
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

In [14]:
ssc.stop(False, True)

-------------------------------------------
Time: 2018-02-26 14:32:45
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:46
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:47
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:48
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:49
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:50
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:51
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:52
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:53
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:54
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:55
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:56
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:57
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:58
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:32:59
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:00
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:01
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:02
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:03
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:04
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:05
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:06
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:07
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:08
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:09
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:10
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:11
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:12
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:13
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:14
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:15
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:16
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:17
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:18
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:19
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:20
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:21
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)

-------------------------------------------
Time: 2018-02-26 14:33:22
-------------------------------------------
('client_c', 1682.0)
('client_b', 3067.0)
('client_a', 4450.0)
('client_d', 3639.0)